@model WebApplication35.Models.viewModel.staffViewModell

@{
    ViewBag.Title = "delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>staffViewModell</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.staffid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.staffid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.post)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.post)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
