@model IEnumerable<WebApplication35.Models.viewModel.staffViewModell>

@{
    ViewBag.Title = "Indexstaff";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Indexstaff</h2>

<p>
  <a href="@Url.Action("addstaff","staff")">Add staff</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.staffid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.post)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.staffid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.post)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.staffid }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.staffid })
        </td>
    </tr>
}

</table>
