@model IEnumerable<WebApplication35.Models.viewModel.bookcabViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.bookid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bookdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.confirmation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pickup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.drop)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.bookid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bookdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.confirmation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pickup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.drop)
        </td>
        <td>
            @Html.ActionLink("Driver_confirmation", "Driver_confirmation", new {  id=item.bookid }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
